.item-divider {
    background-color: var(--kiosq-color-primary);
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border-color: var(--kiosq-color-secondary);
    border-bottom-width: 6px;
    border-bottom-style: solid;
  }
  