<section id="header">
    <picture>
      <source srcset="images/home.jpg" media="(min-width: 640px)">
      <img src="images/home_mobile.jpg">
    </picture>
  </section>
  <section id="find-us">
    <p class="text-center px-3 h5 text-white">Trouvez le kiosque près de chez vous pour découvrir la carte des pizzas</p>
    <a routerLink="/pizzas" class="btn btn-lg text-white mt-3">CHERCHER</a>
  </section>
  <section id="company">
    <div class="container">
      <div class="row row-cols-2 row-cols-md-4 g-3 text-center">
        <div class="col">
          <div class="card justify-content-center">
            <div class="mt-4">
              <i class="fa-solid fa-shop fa-2x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title h6">Notre histoire</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card justify-content-center">
            <div class="mt-4">
              <i class="fa-solid fa-pepper-hot fa-2x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title h6">Nos ingrédients</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card justify-content-center">
            <div class="mt-4">
              <i class="fa-solid fa-medal fa-2x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title h6">Démarche qualité</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card justify-content-center">
            <div class="mt-4">
              <i class="fa-solid fa-hand-holding-heart fa-2x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title h6">Philosophie & engagements</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  